.sidebar {
    height: 100%;
    border: 1px solid #715fde;
    width: 40%;
}

.chatPart {
    height: 100%;
    width: 60%;
    border: 1px solid rgba(69, 89, 164, .5);
}

.chat{
    display: flex;
    flex-direction: row;
}